<div class="container response">
    <form>
        <div class="row">
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Curl/ Comp/ Del or Alt">
            </div>
            <span>OR</span>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Start date">
            </div>
            <span>TO</span>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="End date">
            </div>
        </div>
        <div class="row" style="padding-top: 1em">
            <div class="col-3">
                <input type="text" id="sortData" class="form-control" placeholder="Sort: Date, Cost, City, Amt">
            </div>
            <div class="">
                <button id="refresh" type="button" class="btn btn-md excelButton" style="width: 10em">Refresh</button>
            </div>
            <div class="">
                <button id="addNewJob" type="button" class="btn btn-md excelButton"
                    style="width: 10em; margin-left: 1em">Add New Job</button>
            </div>
            <div class="">
                <button id="refresh" type="button" class="btn btn-md saveChanges"
                    style="width: 10em; margin-left: 1em">Save Changes</button>
            </div>
        </div>
    </form>
</div>