<table class="table table-bordered summaryTable mb-0">
    <thead>
        <tr>
            <th class="summaryHead" scope="col">Period Summary</th>
        </tr>
    </thead>
    <tbody>
        <td class="summaryCell">
            <div class="summaryKey">
                Regular Hours
            </div>
            <div class="dateFormat">
                40.00</div>
        </td>
        <td class="summaryCell offColor">
            <div class="summaryKey">
                OT Hours
            </div>
            <div class="dateFormat">
                30.00</div>
        </td>
        <td class="summaryCell">
            <div class="summaryKey">
                Total Hours
            </div>
            <div class="dateFormat">
                70.00</div>
        </td>
        <td class="summaryCell offColor">
            <div class="summaryKey">
                Gross Pay
            </div>
            <div class="dateFormat">
                1270.00</div>
        </td>
        <td class="summaryCell">
            <div class="summaryKey">
                Days Worked
            </div>
            <div class="dateFormat">
                14</div>
        </td>
        <td class="summaryCell offColor">
            <div class="summaryKey">
                No call No Shows
            </div>
            <div class="dateFormat">
                0</div>
        </td>
    </tbody>
</table>