<div class="container">
    <form>
        <div class="row">
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Select Pay Period">
            </div>
            <span>OR</span>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Start date">
            </div>
            <span>TO</span>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="End date">
            </div>
            <div class="col-2">
                <button id="refresh" type="button" class="btn btn-md excelButton" style="width: 10em">Refresh</button>
            </div>
        </div>
    </form>
</div>