<!DOCTYPE html>
<html>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <head>
        <link rel="stylesheet" type="text/css" href="/css/map.css">
        <script src="/js/map.js"></script>

    </head>
    <div class="container" style="display: flex; justify-content: center;">
        <div id="map" style="position: relative!important; width: 75vw; height: 80vh; top: 5vh; margin-bottom: 7vh;">
        </div>
    </div>
    <div class="container">
        <form>

            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Select Job</option>
                    <option>Job 1</option>
                    <option>Job 2</option>
                    <option>Job 3</option>
                    <option>Job 4</option>
                </select>
            </div>
            <div class="row">
                <div class="form-group col-6" style="margin-right: 10em;">
                    <label for="exampleFormControlTextarea1">Notes</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div style="font-size: large; color: grey; align-items: flex-start;">
                        10:30:12 AM
                    </div>
                    <div>
                        <button id="clockIn" type="button" class="btn btn-md excelButton"
                            style="width: 10em; margin-left: 1em">CLOCK IN</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>

        var portland = { lat: 45.514401, lng: -122.670041 };
        function initMap() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(updateMap)
            } else {
                alert("Geolocation is not supported by this browser.")
            }
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 11,
                center: portland,
            });

            function updateMap(position) {
                var mapOptions = {
                    /* Initial zoom level */
                    zoom: 15,
                    center: { lat: position.coords.latitude, lng: position.coords.longitude }
                };
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                    map: map,
                    icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                });
                map.setOptions(mapOptions)
            }
        }

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL7xFobhgO60YdLjXb87UxHAgJCff8HNw&callback=initMap"></script>
</body>

</html>